@CHARSET "ISO-8859-1";

html, body {
	width: 100%;
	height: 100%;
}

img {
	max-width: 100% !important;
	height: auto !important;
}

.main {
	padding: 20px;
}

.ui-panel-inner {
	/* menu content wrapper */
}


.produto_img {
	height: 150px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #FFF;
	display: none;
}


.lista_produtos_img {
	width: 20%;
	height: 50px;
	background-color: #FFF;
	display: block;
	float: left;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.lista_produtos_nome {
	display: block;
	float: right;
	width: 78%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lista_produtos_valor {
	display: block;
	float: right;
	width: 78%;
}
.loading {
	text-align: center;
	background-image: url("../js/jQueryMobile/images/ajax-loader.gif");
	width: 100%;
	height: 60px;
	background-position: center center;
	background-repeat: no-repeat;
}